.storeSlogan{
    font-size: large;
    font-weight: bold;

}

.barraSlogan{
    display: grid;
    padding-top: 25px;
   
    
}
.SloganComponents{
    width: 80%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}