.itemDetailComponent{
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    
}
.itemDetailBox{
 
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    background-image: url("../../../public/images/corchofondo.jpg");
    height: fit-content;
    max-width:1100px;
    border-width: 20px;
    border-style: solid;
    border-image: url("../../../public/images/woodTexture.jpg") 25% round;
    
    h2{
        font-size: 60px;
        text-align:center ;
        margin-left: 10px;
        margin-top: 5px;
        font-weight: bold;
    }
      
     
  }
  .itemDesc{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    width: 500px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    
    
    

  }
  .price{
    text-align: center;
    font-size: 25px;
  }
  .itemDetail{
    justify-self: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 5px;
    max-height: 600px;
    

   
}
.itemDescText{
    background-color: #FDF21C;
    width: fit-content;  
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;

}
.itemPriceBox{
    background-color: #F4B416;  
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
   

}
.terminarCompra{
    justify-self: center;
}
.itemDetailImgBox{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 30px;
}
.imgDetail1{
       justify-self: center;
       align-self: flex-start; 
       height: 200px;
       width: 200px;
       z-index: 50;
       rotate: -30deg;
       translate:0px 25px;
       transition: 0.5s ease;
       &:hover{
        rotate:0deg;
        scale:1.25;
       }
    
}
.imgDetail2{
        
    justify-self: center;
    align-self: flex-end; 
    height: 250px;
    width: 250px;
    z-index: 1;
    rotate: 30deg;
    transform:translateX(-100px);
    transition: 0.5s ease;
       &:hover{
        rotate:0deg;
        scale:1.5;
        z-index: 100;
       }
    
}
.imgDetail3{
    justify-self: center;
    align-self: flex-start; 
    height: 200px;
    width: 200px;
    z-index: 50;
    translate:0px -50px;
    transition: 0.5s ease;
       &:hover{
        rotate:0deg;
        scale:1.25;
       }
  
}
.returnButton{
    width: fit-content;
    justify-self: start;
    align-self: center;
    width: 200px;
    margin-bottom: 10px;
}


