.barraDesc{
    display: grid;
   
    
}
.descComponents{
    width: 80%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.storeDesc{
    font-size: xx-large;
}
