.logo{
    display: flex;
    padding-top: 5px;
    padding-left: 5px;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    background-color: #00F6ED;
    
}
.logoNombre{
    display: flex;
    margin-left: 30px;
    img{
        height: 64px;
    }
    
}
.buscador{
    display: flex;
    justify-content: center;
    width:  100%;
    padding-top:10px ;
    padding-bottom:10px ;
    background-color: #00F6ED;

    input{
        width: 40%;
        margin-right: 10px;


    }
}

.barraBusqueda {
    background-color: #939196;
    border-bottom: 3px solid #172A3A;
    border-top: 2px solid #172A3A;
    display: flex;
    justify-content: center;
    width: 100%;
    div{
    display:flex;
    justify-content: space-between;
    justify-self: center;
    width: 80%;
    margin-top: 10px;
        a{
            text-align: center;

            text-decoration: none;
            color: black;
            img{
                margin-left: 5px;
            }
        }
    }
    
}