
.buscador{
    display: flex;
    justify-content: center;
    width:  100%;
    padding-top:10px ;
    padding-bottom:10px ;
    background-color: #00F6ED;

    input{
        width: 40%;
        margin-right: 10px;


    }
}

.barraBusqueda {
    background-color: #C4C4C4;
    padding-bottom: 5px;
    
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 90%;
    div{
    display:flex;
    justify-content: space-between;
    justify-self: center;
    width: 80%;
    margin-top: 10px;
        a{
            text-align: center;

            text-decoration: none;
            color: black;
            img{
                margin-left: 5px;
            }
        }
    }
    
}
.barraBusquedaContainer{
    display: grid;
}