
.Category{ 
    display: flex;
    justify-content: center;
    section{
        margin-top: 20px;
        display: flex;
        width: 800px;
        height: 480px;
        div{
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            overflow: hidden;
            color: white;
            
            
            &:hover{
                width: 300px;
                opacity: 1;
                filter: contrast(100%);
            } 
    }}
}
.jugueteria{
    background-image: url("../../../../public/products/jugueteria/peluches.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.papeleria{
    background-image:url("../../../../public/products/papeleria/lapicesColores3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.tecnologia{
    background-image:url("../../../../public/products/tecnologia/gameboy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.libreria{
    background-image:url("../../../../public/products/jugueteria/ajedrez.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}



    