
.Category{ 
    display: flex;
    justify-content: center;
    section{
        margin-top: 20px;
        display: flex;
        width: 800px;
        height: 480px;
        div{
            display: flex ;
            justify-content: center ;
            align-content: center ;
            flex-wrap: wrap ;
            overflow: hidden ;
            color: white ;
            cursor: pointer;
            a{
                display: flex;
                justify-content: center;
                align-content: center;
                flex-wrap: wrap;
                height: 100%;
                width:100%;
                text-decoration: none;
                color: red;
            }
            
            
            &:hover{
                width: 300px;
                opacity: 1;
                filter: contrast(100%);
            } 

            
        
    }}
}
.jugueteria{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/hey-ignaciowainer.appspot.com/o/monopoly1.jpg?alt=media&token=106f086b-6207-4a45-9e65-0202dea38089");
    background-size: cover;
    background-repeat: no-repeat;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.papeleria{
    background-image:url("https://firebasestorage.googleapis.com/v0/b/hey-ignaciowainer.appspot.com/o/lapicesColores3.jpg?alt=media&token=ff6b5ed7-94e8-44b3-9490-d62173a6b441");
    background-size: cover;
    background-repeat: no-repeat;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.tecnologia{
    background-image:url("https://firebasestorage.googleapis.com/v0/b/hey-ignaciowainer.appspot.com/o/gameboy.jpg?alt=media&token=747f298a-71a3-455d-b82e-80035d36495a");
    background-size: cover;
    background-repeat: no-repeat;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.libreria{
    background-image:url("https://firebasestorage.googleapis.com/v0/b/hey-ignaciowainer.appspot.com/o/harryPotter.webp?alt=media&token=d294f02f-4be2-4c0b-838d-d06da301bb4e");
    background-size: cover;
    background-repeat: no-repeat;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}



    